---

---

<div class=" mt-20 mb-12 flex place-content-center">
    <div class="max-w-7xl m-auto flex flex-col items-center py-5 gap-5">
        <h1 class="flex justify-center items-center gap-1 font-black font-Poppins text-3xl max-md:text-xl"> 
            Bienvenido a <span class="text-amber-500"> ArcusBlog </span>
            <img src="/src/images/banner-logo.png" alt="Logo de cafe">
        </h1>
        <p class="text-slate-800 font-Regular text-xl  text-center max-md:text-base max-md:px-4">Encuentra articulos y guias para aprender desarrollo web</p>
    </div>
</div>