---
  const {color,clasebtn,ruta, name} = Astro.props;

---


    <button class=`${color} ${clasebtn} p-1 rounded-sm`>
        <img src={ruta} class="stroke-1"  alt="Icono de Redes Sociales" data-name = {name}>
    </button>